dialog{
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    height: 100%;
    width: 100%;

    background-color: transparent;

    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 4rem;

    overflow: visible;
}

dialog::backdrop{
    background-color: rgba(20, 20, 20, 0.4);
    
}


dialog > *{
    flex-shrink: 0;

    background-color: rgb(27, 27, 27);

    box-shadow: 0 0 5rem rgb(39, 39, 39);

    border-radius: 1rem;

    width: 45rem;

    padding: 1.5rem;
}

div#select-ships{
    height: 55rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;


    row-gap: 4rem;
}


div#select-ships > div#dialog-ships-header{
    width: 100%;

    font-family: "Orbitron", sans-serif;
    font-size: large;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
}










div#ships-selection-container{
    font-family: "Orbitron", sans-serif;

    flex: 1;

    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    row-gap: 2rem;
}


div#ships-selection-container > div.dialog-ship-container{
    --border-width: .1rem;
    
    position: relative;
    z-index: 0;

    flex: 1;

    background-color: rgb(92, 92, 92);
    border: var(--border-width) solid white;

    padding: 0rem 2rem;

    border-radius: .8rem;

    /* max-height: 8rem; */

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    row-gap: 1rem;

    cursor: grab;

    /* overflow: hidden; */
}


div.dialog-ship-container > div.dialog-ship-image{
    /* flex: 1; */
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;
}

div.dialog-ship-container > p{
    z-index: 1;
}

div#ships-selection-container > div.dialog-ship-container::before,
div#ships-selection-container > div.dialog-ship-container::after{
    content: '';

    position: absolute;

    

    background-color: inherit;

    /* z-index: -1; */


}

div#ships-selection-container > div.dialog-ship-container::before{
    width: calc(100% + var(--border-width) * 2); 
    height: 60%;
}

div#ships-selection-container > div.dialog-ship-container::after{
    width: 60%; 
    height: calc(100% + var(--border-width) * 2);
}





div.dialog-ship-container > div.dialog-ship-image > div{
    aspect-ratio: 1;
    width: 3rem;

    border: .2rem solid rgb(190, 190, 190);

    background-color: grey;
}













div#select-grid{
    height: 80%;
    width: 45rem;

    display: flex;

    

    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    /* margin: auto; */
}




div#dialog-header-text-container{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

    row-gap: 2rem;
}

div#dialog-header-text-container > *{
    text-align: center;
}

div#dialog-header-text-container > h3{
    font-size: 3.5rem;

    font-family: "Orbitron", sans-serif;
}

div#dialog-header-text-container > p#drag-drop-desc{
    font-size: 2rem;
    /* font-weight: bold; */
}


div#select-grid > .game-board{
    margin: auto;

    z-index: 1;
}


div#reset-submit-btn-container{
    width: 100%;

    padding: 0 3rem;

    display: flex;
    align-items: center;
    justify-content: center;

    column-gap: 2rem;
}

div#reset-submit-btn-container > *{
    font-family: "Orbitron", sans-serif;

    padding: 1.2rem 5rem;

    border-radius: 5rem;

    background-color: transparent;

    border-width: .2rem;
    border-style: solid;

    transition: background-color 600ms ease-out;

}

*[data-clickable="not-ready"]{
    --not-allowed-colour: #a3a3a3c2;
    
    cursor: not-allowed;

    border-color: var(--not-allowed-colour);
    color: var(--not-allowed-colour);

    
}

*[data-clickable="ready"]{
    cursor: pointer;

    color: white;
    border-color: white;


}



button#reset-btn[data-clickable="ready"]:hover{
    background-color: red;

}

button#submit-btn[data-clickable="ready"]:hover{
    background-color: green;

}