.game-board{
    display: grid;
    grid-template-columns: repeat(10, 1fr);

}

.game-space{
    width: 3.5rem;
    aspect-ratio: 1;

    border: .1rem white solid;

    background-color: rgb(25, 52, 128);

    cursor: pointer;
}


.game-space:hover{
    background-color: rgba(144, 238, 144);
    background-color: rgb(194, 38, 69);
}