.game-board{
    display: grid;
    grid-template-columns: repeat(10, 1fr);

}

.game-space{
    width: var(--ship-width-height);
    aspect-ratio: 1;

    border: var(--ship-border-width) white solid;

    background-color: rgb(25, 52, 128);

    /* cursor: pointer; */
}



/* 
dialog .game-space[data-cell-available="no-interaction"]{
    
} */

dialog .game-space[data-cell-available="available"]{
    background-color: rgba(144, 238, 144);
}

dialog .game-space[data-cell-available="unavailable"]{
    background-color: rgb(194, 38, 69) !important;
}

/******
SO HERE WE NEED TO MAKE IT CLEAR THAT THE DIFFERENT COLOURS
ARE TO DEFINE WHEN WE HAVE INTERACTED WITH IT,
IF (NO INTERACTON) {SET BACK TO NO-INTERACTION}
******/


.dialog-ship-cell{
    aspect-ratio: 1;
    width: var(--ship-width-height);

    border: var(--ship-border-width) solid rgb(190, 190, 190);

    background-color: grey;
}