@font-face {
    font-family: 'Orbitron';
    src: url('../../Media/Fonts/Orbitron/Orbitron-VariableFont_wght.ttf') format('truetype');
}

:root{
    --ship-width-height: 3.5rem;
    --ship-border-width: .1rem;

    font-size: 62.5%;


}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;

    color: inherit;
    font-size: inherit;
    font-family: inherit;

    box-sizing: border-box;

    user-select: none;
}


html,
body{
    position: relative;

    font-size: 1.6rem;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgb(114, 191, 216);
    color: white;

    width: 100dvw;
    height: 100dvh;

    

    /* cursor: grabbing; */

    /* overflow: auto; */
}






div#cursor-overlay{
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 100dvw;
    height: 100dvh;

    background-color: transparent;

    
    /* pointer-events: none; */
    
    cursor: grabbing;
    user-select: none;

    /* display: none; */
}